{
  "extends": [
    "next",
    "prettier",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["simple-import-sort"],
  "rules": {
    "no-console": "warn",
    "no-var": "error",
    "no-html-link-for-pages": "off",
    // Formatting
    "prettier/prettier": "warn",
    // Sort imports
    "import": "off",
    "export": "off",
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": [
      "warn", {
        "groups": [
          // Module imports
          ["^[a-z]", "^@"],
          // Folder aliases
          [
            "^@atoms",
            "^@molecules",
            "^@features",
            "^@helpers",
            "^@hooks",
            "^@organisms",
            "^@shaders",
            "^@templates",
            "^@utils"
          ],
          // Folder imports (starting with `../` or `./`)
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ],
          // Style imports
          ["^.+\\.s?css$"],
          // Side effect imports
          ["^\\u0000"]
        ]
      }
    ]
  }
}
