.tp-container {
  position: absolute;
  padding: 0.625rem;
  width: 100%;
  z-index: 100;
}

@media (min-width: 640px) {
  .tp-container {
    right: 0;
    padding: 1.25rem;
    width: 400px;
  }
}

@media (min-width: 1980px) {
  .tp-container {
    right: 25%;
  }
}

/**
 * Increase the tweakpane input binding value (excluding buttons), taking the
 * extra space from its label, to better manipulate the input controls.
 */
.tp-lblv_v:not(:has(.tp-btnv_t)) {
  width: 62.7% !important; /* 270px */
}
