/**
 * Main Tweakpane window.
 */
.tp-rotv {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

/**
 * Tweakpane input binding value (excluding buttons).
 */
.tp-lblv_v:not(:has(.tp-btnv_t)) {
  width: 62.7% !important; /* 270px */
}
